/* Basic layout*/

.microslider_right{
	width:83%;
	float:right;
	padding:0 1%;
	background-color:#CACBCC;
}

.microslider_right .page-title-action{
	top:0;
}

.microslider_left{
	width:15%;
	float:left;
	text-align: center;
}

.microslider_left a{
	padding:10px 0;
	width: 100%;
	text-decoration: none;
	border-bottom:1px solid #F1F1F1;
	color:#ffffff;
	background-color: #32373C;
	display: inline-block;
}

.microslider_left a.msactive{
	color:#000000;
	background-color:#CACBCC;
}

.microslider_option_left_col, .microslider_option_right_col{
	width:49%;
	display: inline-block;
	vertical-align: top;
}

/* General */

.microslider_right .radio-toolbar input[type="radio"] {
    display:none;
}

.microslider_right .radio-toolbar label {
    display:inline-block;
	width:30px;
	height:30px;
    font-family:Arial;
    font-size:0.8em;
	color:#CCCCCC;
	text-align:center;
	border: 3px solid transparent;
}

.microslider_right .radio-toolbar input[type="radio"]:checked + label {
    border: 3px solid #9F9F9F;
	font-weight:bold;
	width:35px;
	height:35px;
	color:#FFFFFF;
}

/* Settings panel */

.microslider_add_new{
	margin-top:10px !important;
}

.microslider_add_new_button{
	width: 50% !important;
	margin-top:10px !important;
}

.microslider_delete{
	background-color: #C80000 !important;
	border-color: #920000 !important;
	float:right;
}

.microslider_add_new{
	display: none;
}

.microslider_shortcode_field{
	min-width:450px;
	width:auto;
	color:#000000 !important;
	text-align: center;
}

/* Image upload section */

.microslider_upload{
	width:23%;
	height:auto;
	background:#E1E1E1;
	border:2px solid #BBBBBB;
	display:inline-block;
	position: relative;
	margin:5px;
	vertical-align:middle;
	position:relative;
}

.microslider_upload_image{
	max-width:98%;
	vertical-align:middle;
	margin: 1%;
}

.microslider_image_close{
	position:absolute;
	bottom:10px;
	right:10px;
	display:none;
	cursor:pointer;
}

.microslider_left .settings_open{
	float:left;
	padding-right:10px;
}

/* options */

.microslider_option_holder{
	border-bottom: 1px solid #BBBBBB;
	padding:2px 0;
    line-height: 30px;
}
.microslider_right .microslider_label{
	display: inline-block;
	vertical-align: middle;
	width:150px;
}
.microslider_right .microslider_input_holder{
	display: inline-block;
	vertical-align: middle;
	width:90px;
}

.microslider_right .microslider_option_holder{
	position: relative;
}
.microslider_right .microslider_tooltip_icon{
	position: relative;
	vertical-align: middle;
}
.microslider_right .microslider_tooltip{
	display: none;
	background:#FFFFFF;
	max-width: 50%;
	position: absolute;
	left: 280px;
	top:0;
	line-height: 16px;
	font-size: 12px;
	padding:5px;
	border-radius:7px;
	z-index: 999;
}

.microslider_right input[type=text]{
	width: 80px;
}
.microslider_right input{
	vertical-align: middle;
}